<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.transistorsoft.buff</string>
		<string>com.transistorsoft.fetch</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Fanbook</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Runner</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wxshare</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx5a6ce7e89c14128d</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fanbook</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>alipay</string>
		<string>alipays</string>
		<string>http</string>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>fanbook</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>用于音视频通话服务</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>用于音视频通话服务</string>
	<key>NSCameraUsageDescription</key>
	<string>如果不被允许，您将无法在Fanbook中拍摄照片和视频，也无法使用视频通话、扫描二维码等功能。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>如果不被允许，您将无法在Fanbook中发送语音消息，也无法使用音视频通话功能。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>用于保存二维码海报到相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>如果不被允许，您将无法发送相册中的图片和视频，请[允许访问所有照片]，以保证在Fanbook中能正常访问相册，如果你使用[选择照片]，则所有未选中的，以及未来新增的照片都将无法在Fanbook访问。</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>processing</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>WKBackgroundModes</key>
	<array>
		<string>App plays audio or streams audio/video using AirPlay</string>
	</array>
	<key>com.openinstall.APP_KEY</key>
	<string>rmst4o</string>
	<key>io.flutter.embedded_views_preview</key>
	<string>true</string>
</dict>
</plist>
